# IMPORTAMOS LAS LIBRERIAS

In [3]:
import mysql.connector
import pandas as pd

# CONECTAR A MYSQL

In [4]:
conn=mysql.connector.connect(
host="localhost",
user="root",
password="",
database="hr"
)

# CREAR UN CURSOR

In [5]:
cursor=conn.cursor()

# SE CREA LA CONSULTA

In [6]:
sql="select * from employees"

# SE EJECUTA LA CONSULTA

In [7]:
cursor.execute(sql)

# SE CARGAN LOS DATOS EN EL DATAFRAME RESULTADO

In [8]:
resultado=pd.DataFrame(cursor.fetchall())

# SE IMPRIME EL DATAFRAME RESULTADO

In [9]:
print(resultado)

      0          1        2         3               4           5   \
0    100     Steven     King     SKING    515.123.4567  1987-06-17
1    101      Neena  Kochhar  NKOCHHAR    515.123.4568  1989-09-21
2    102        Lex  De Haan   LDEHAAN    515.123.4569  1993-01-13
3    103  Alexander   Hunold   AHUNOLD    590.423.4567  1990-01-03
4    104      Bruce    Ernst    BERNST    590.423.4568  1991-05-21
..   ...        ...      ...       ...             ...         ...
102  202        Pat      Fay      PFAY    603.123.6666  1997-08-17
103  203      Susan   Mavris   SMAVRIS    515.123.7777  1994-06-07
104  204    Hermann     Baer     HBAER    515.123.8888  1994-06-07
105  205    Shelley  Higgins  SHIGGINS    515.123.8080  1994-06-07
106  206    William    Gietz    WGIETZ  51hr5.123.8181  1994-06-07

             6         7     8      9      10
0       AD_PRES  24000.00  None    NaN   90.0
1         AD_VP  17000.00  None  100.0   90.0
2         AD_VP  17000.00  None  100.0   90.0
3       IT_PROG   9000.00  None  102.0   60.0
4       IT_PROG   6000.00  None  103.0   60.0
..          ...       ...   ...    ...    ...
102      MK_REP   6000.00  None  201.0   20.0
103      HR_REP   6500.00  None  101.0   40.0
104      PR_REP  10000.00  None  101.0   70.0
105      AC_MGR  12000.00  None  101.0  110.0
106  AC_ACCOUNT   8300.00  None  205.0  110.0

[107 rows x 11 columns]